canvas {
  background-color: white;
  border: 30px solid transparent;
  padding: 15px;
  border-image: url(../assets/img/frame.jpg) 30 round;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  background-color: white;
  color: black;
  border: 30px solid transparent;
}

.fa-cog, .fa-times {
  color: #eee;
  font-size: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fa-cog:hover, .fa-times:hover {
  color: #ccc;
  cursor: pointer;
}

.fa-circle {
  position: absolute;
  top: 10px;
  left: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.room-id {
  position: absolute;
  top: 50px;
  right: 5px;
}

#PlayerList {
    width: 200px;
    height: 400px;
    border: 1px solid #87ceeb;
    float: left;
    margin-left: 10px;;
    padding: 5px 0;
}

#drawCanvas {
    float: left;
    width: 500px
}

#unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select: none;
  user-select:none;
}

#backToMenuButton, #startGameButton, #endGameButton {
  margin: 0;
  position: absolute;
  top: 5px;
}

#backToMenuButton {
  left: 5px;
}

#startGameButton {
  /* Centered */
  left: 40vw;
  width: 20vw;
}

#endGameButton {
  right: 5px;
}

#scoreboard {
  position: absolute;
  top: 15vh;
}
