<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1 style="color:white">Yoodle</h1>
        <h4 ng-if="username">Welcome back, {{username}}.</h4>

        <!-- Create a new game -->
        <button type="button" class="btn btn-primary" ng-click="createGame()">Create a game</button>

        <!-- Join an existing game -->
        <button type="button" class="btn btn-primary" ng-click="joinGame()">Join a game</button>
    </div>

    <!-- Connection status -->
    <i class="fa fa-circle" ng-style="connectionStatus"></i>

    <!-- Settings -->
    <i class="fa fa-cog" ng-click="openSettings()"></i>
</aside>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Yoodle</strong>
                </h4>
                <p>A pictionary game,<br>developed in a modern style</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> CS409 Team07</li>
                </ul>
                <br>
                <ul class="list-inline">

                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Yoodle 2016</p>
            </div>
        </div>
    </div>
</footer>
