<p>{{time}}</p>
<p>{{ currentWord }}</p>
<canvas width="500" height="300" id="canvas" drawing></canvas> <br>
<button type="button" ng-click="clearCanvas()" class="btn btn-primary"><i class="fa fa-trash"></i> Clear drawing</button>
<button type="button" ng-click="savaImage()" class="btn btn-success"><i class="fa fa-camera-retro"></i> Save!</button>
<input type = "text" ng-value='guess' ng-model = 'guess'></input>
<button type = "button" ng-click = "sendGuess()" class = "btn btn-success"> <i class = "fa fa-camera-retro"></i> Send Guess!</button>
<button type="button" ng-click="skipWord()" class="btn btn-danger"><i class="fa fa-random"></i> Skip!</button>
