<div style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select: none;" unselectable="on">
  <!-- Back to menu button -->
  <button type="button" ng-click="backToMenu()" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</button>

  <!-- Start game button -->
  <button type="button" ng-click="startGame()" class="btn btn-primary" ng-hide="$root.gameStarted">Start Game</button>

  <!-- Word and time -->
  <p>{{ time }}</p>
  <p>{{ currentWord }}</p>

    <!-- Room ID -->
    <h3>Your room code: {{roomID}}</h3>

    <!-- List of players in the game -->
    <div>
      <div id="PlayerList" style="border: none">
        <h4>Players</h4>
        <table>
          <tr>
            <th>Player</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="player in playerList">
            <td class="ellipsis" style="max-width: 10">{{player.name}}</td>
            <td>{{player.score}}</td>
          </tr>
        </table>
      </div>

      <!-- Canvas -->
      <div id="drawCanvas">
        <canvas width="500" height="300" id="canvas" artistDrawing></canvas> <br>

        <div ng-show="$root.gameStarted">
          <!-- Buttons -->
          <button type="button" ng-click="savaImage()" class="btn btn-success"><i class="fa fa-camera-retro"></i> Save!</button>

          <div ng-hide="$root.isArtist">
            <input type ="text" ng-value="guess" ng-model="guess" ng-keyup="$event.keyCode == 13 && sendGuess()"></input>
            <button type ="button" ng-click ="sendGuess()" class ="btn btn-success"> <i class ="fa fa-camera-retro"></i> Send Guess!</button>
          </div>

          <div ng-show="$root.isArtist">
            <button type="button" ng-click="skipWord()" class="btn btn-danger"><i class="fa fa-random"></i> Skip!</button>
            <button type="button" ng-click="clearCanvas()" class="btn btn-primary"><i class="fa fa-trash"></i> Clear drawing</button>
          </div>
        </div>
      </div>
</div>
