<div style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select: none;" unselectable="on">
  <!-- Back to menu button -->
  <button type="button" ng-click="backToMenu()" class="btn btn-primary"><i class="fa fa-arrow-left"></i>Back</button>

  <!-- Go to gallery(testing purpose) -->
  <button type="button" ng-click="goGallery()" class="btn btn-primary"></i>End game</button>

  <!-- Start game button -->
  <button type="button" ng-click="startGame()" class="btn btn-primary" ng-hide="$root.gameStarted">Start Game</button>

  <!-- Room ID -->
  <h3>Your room code: {{roomID}}</h3>

  <!-- List of players in the game -->
  <h4>Players</h4>

  <h4>Current Players</h4>
  <table id="scoreboard">
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
    <tr ng-repeat="player in playerList">
      <td style="max-width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{player.name}}</td>
      <td>{{player.score}}</td>
    </tr>
  </table>

  <div ng-show="$root.gameStarted">
    <!-- Buttons -->
    <button type="button" ng-click="savaImage()" class="btn btn-success"><i class="fa fa-camera-retro"></i> Save!</button>

    <!-- Non-artist buttons -->
    <div ng-hide="$root.isArtist">
      <input type ="text" ng-value="guess" ng-model="guess" ng-keyup="$event.keyCode == 13 && sendGuess()"></input>
      <button type ="button" ng-click ="sendGuess()" class ="btn btn-success"> <i class ="fa fa-camera-retro"></i> Send Guess!</button>
    </div>

    <!-- Artist buttons -->
    <div ng-show="$root.isArtist">
      <button type="button" ng-click="skipWord()" class="btn btn-danger"><i class="fa fa-random"></i> Skip!</button>
      <button type="button" ng-click="clearCanvas()" class="btn btn-primary"><i class="fa fa-trash"></i> Clear drawing</button>
      <h4>Draw <u>{{currentWord}}</u></h4>
    </div>
  </div>

  <!-- Word and time -->
  <h4 align="middle">{{ time }}</h4>

  <!-- progress bar -->
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" id="bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      <span class="sr-only"></span>
    </div>
  </div>

  <!-- Canvas -->
  <canvas width="500" height="300" id="canvas" artistDrawing></canvas> <br>
</div>
